<%- include("partials/header") %>
    <h1>Home</h1>
    <p>
        <%= contentHome %>
    </p>
    <% blogPosts.forEach((blogPost)=> { %>
        <h1>
            <%= blogPost.title %>
        </h1>
        <p>
            <%= blogPost.content %>
        </p>
        <%}); %>
            <%- include("partials/footer") %>